body {
  font-family: Arial;
  font-size: 120%;
  background-color: rgb(184, 231, 255);
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #852e20;
}


.choices.correct button {
  background-color: rgb(13, 126, 13);
}

.choices.wrong button {
  background-color: rgb(189, 16, 16);
}


button {
  display: inline-block;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 100%;
  background-color: #0a3670;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #428def;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
  background-color: rgb(249, 255, 255);
}

li:nth-child(odd) {
  background-color: #d6fcff;
}

.wrapper {
  margin: 6.25rem auto 0 auto;
  max-width: 37.5rem;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 1.15rem;
  left: 1.15rem;
  font-size: 1.5rem;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 1.15rem;
  right: 1.15rem;
  font-size: 2rem;
  color: rgb(202, 0, 0)
}


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}